<img *ngIf="sign.toUpperCase() === 'ARIES'" class="zodiac-thumbnail" src="./assets/astro/aries.svg"/>
<img *ngIf="sign.toUpperCase() === 'TAURUS'" class="zodiac-thumbnail" src="./assets/astro/taurus.svg"/>
<img *ngIf="sign.toUpperCase() === 'GEMINI'" class="zodiac-thumbnail" src="./assets/astro/gemini.svg"/>
<img *ngIf="sign.toUpperCase() === 'CANCER'" class="zodiac-thumbnail" src="./assets/astro/cancer.svg"/>
<img *ngIf="sign.toUpperCase() === 'LEO'" class="zodiac-thumbnail" src="./assets/astro/leo.svg"/>
<img *ngIf="sign.toUpperCase() === 'VIRGO'" class="zodiac-thumbnail" src="./assets/astro/virgo.svg"/>
<img *ngIf="sign.toUpperCase() === 'LIBRA'" class="zodiac-thumbnail" src="./assets/astro/libra.svg"/>
<img *ngIf="sign.toUpperCase() === 'SCORPIO'" class="zodiac-thumbnail" src="./assets/astro/scorpio.svg"/>
<img *ngIf="sign.toUpperCase() === 'SAGITTARIUS'" class="zodiac-thumbnail" src="./assets/astro/sagittarius.svg"/>
<img *ngIf="sign.toUpperCase() === 'CAPRICORN'" class="zodiac-thumbnail" src="./assets/astro/capricorn.svg"/>
<img *ngIf="sign.toUpperCase() === 'AQUARIUS'" class="zodiac-thumbnail" src="./assets/astro/aquarius.svg"/>
<img *ngIf="sign.toUpperCase() === 'PISCES'" class="zodiac-thumbnail" src="./assets/astro/pisces.svg"/>
