<div class="unicorn-dark-theme">
    <!--The content below is only a placeholder and can be replaced.-->
    <div class="main-content">
        <div class="form-wrapper" (keyup.enter)="getAstrology(inputDate)">
            <mat-form-field class="person-input">
                <input matInput [matDatepicker]="datepicker" type="text" placeholder="mm/dd/yyyy" [(ngModel)]="inputDate" />
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button (click)="getAstrology(inputDate)">Astrologize!</button>
        </div>
        <mat-card *ngIf="errorMsg" style="text-align: center">
            <p style="color:red">{{errorMsg}}</p>
        </mat-card>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div class="planet-stuff" *ngIf="!loading && planets.length">
            <mat-card *ngIf="planets.length > 0 && !loading">
                <div>{{searchDate | date: 'longDate'}} @ {{time}}</div>
                <br/>
                <app-planet-summary [planets]="planets"></app-planet-summary>
            </mat-card>
        </div>
    </div>
    <div id="footer">Made by Hunter Kievet</div>
</div>